#navbar {
    height: 10vh;
    font-weight: 500;
    border: 1px solid transparent;
    border-bottom-color: black
}

#hero {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#display {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: auto;
    text-align: center;
    background-color: white;
}

/* style for icons in update page */
#display td a {
    color: black;
}
#display th{
    position: sticky;
    top: 0px;
}

#form {
    height: 55vh;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    color: black;
    box-shadow: 0px 0px 1px;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 0px 35px;
}

#form input {
    width: 350px;
}

#footer {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid transparent;
    border-top-color: black;
    background-color: whitesmoke;
    color: #000000a6;
    font-weight: bold;
}

#table {
    width: 90%;
    margin: 10px auto;
}

#table th {
    background-color: whitesmoke;
    padding: 10px;
}

.demo {
    background-color: black;
    color: white;

    #display {
        background-color: black;
    }

    #table {
        background-color: black;
    }

    #hero {
        background-color: black;
        color: white;
    }

    #navbar {
        border-bottom-color: white;
        background-color: black;
        color: white;
    }

    #navbar a {
        color: white;
    }

    #navbar i {
        color: deepskyblue;
    }
    #navbar #home{
        color: deepskyblue;
    }
    #form {
        color: white;
    }
    form input{
        background-color: transparent;
        color: white;
    }
    form input::placeholder{
        color: white;
    }
    #footer {
        background-color: black;
        color: white;
        border-top-color: white;
    }

    table td {
        background-color: black;
        color: white;
    }
    table td i{
        color: deepskyblue;
    }
}

#editdata {
    height: 250px;
    width: 420px;
    font-weight: bold;
}

table th {
    text-align: start;
    padding: 0px 40px;
}

table td {
    font-weight: 400;
    text-align: start;
    padding: 0px 40px;
}
